{% extends "base.html" %}

{% block body %}
  <h1>{{ association.name }} - {{association.short}}</h1>

  <p>{{ association.site }} </p>

  <!-- <div class="content">
    {{ association.content|safe }}
  </div> -->
{% endblock %}
