{% extends "base.html" %}

{% block body %}
  <h1>{{ conference.name }} <br/>{{conference.short}}</h1>

  <p>Organization: {{ conference.organization.short }} - {{ conference.organization.name }}</p>

  <div class="content">
    {{ conference.content|safe }}
  </div>
{% endblock %}
