{% extends "base.html" %}

{% block body %}
  <h1>{{event.conference.short}} {{ event.year }} ({{ event.edition }} edition)</h1>
  <p><a href="{{ event.site }}">{{ event.conference.name }}</a></p>
  <p>{{ event.location }} - {{ event.start_date|date("%b %d") }}-{{ event.end_date|date("%b %d") }}</p>
  <p><a href="{{ event.cfp }}">Call for papers</a></p>

  <div class="content">
    {{ event.content|safe }}
  </div>
{% endblock %}
