{% extends "base.html" %}

{% block body %}
  <h1>{{page_title}}</h1>

  <h2>Conferences by year</h2>
  <p>{% for year in years %}
    {{ year }}
  {% endfor %}</p>
  <ul>
    {% for event in events %}
      <li><a href="{% url "event", event %}">{{ event.conference.short }} {{ event.year }} - {{ event.location }} - {{ event.start_date|date("%b %d") }}-{{ event.end_date|date("%b %d") }}  </a></li>
    {% endfor %}
  </ul>

  <h2>All conferences</h2>
  <ul>
    {% for conf in conferences %}
      <li><a href="{% url "conference", conf %}">{{ conf.short }} - {{ conf.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>Associations that organizes conferences</h2>
  <ul>
    {% for assoc in associations %}
      <li><a href="{% url "association", assoc %}">{{ assoc.name }} - {{ assoc.short }}</a></li>
    {% endfor %}
  </ul>

  <!-- <h2>Posts</h2>
  <p>These are my latest posts</p>
  <ul>
    {% for post in posts %}
      <li><a href="{% url "post", post %}">{{ post.title }}</a></li>
    {% endfor %}
  </ul> -->
{% endblock %}
